.sidebar {
    position: sticky;
    right: 10px;
    top: 9.3vh;
    width: 40px;
    /* background-color: red; */
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.sidebar div {
    margin-bottom: 37px;
    display: inline-block;
    /* width: 27px;
    height: 27px; */
}

.sidebar .calendar:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -7px 0 34px 0;
    padding: 7px 5px 3px 5px;
    border-radius: 50px;
}

.sidebar .keep:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -5px 0 32px 0;
    padding: 5px;
    border-radius: 50px;
}

.sidebar .tasks:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -7px 0 30px 0;
    padding: 7px 5px;
    border-radius: 50px;
}

.sidebar .contacts:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -5px 0 32px 0;
    padding: 5px;
    border-radius: 50px;
}

.sidebar .maps:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -5px 0 32px 0;
    padding: 5px;
    border-radius: 50px;
}

.sidebar .add-on:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.304);
    margin: -10px 0 0 0;
    padding: 10px;
    border-radius: 50px;
}